<footer class="footer">
    <p><a class="link" href="#header" data-scroll>&uarr; Back to Top &uarr;</a></p>
    <p>View the <a class="link" target="_blank" href="https://github.com/{{ site.github_username }}/{{ site.github_username }}.github.io" style="text-decoration: underline;">source code</a>.</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
